@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn more at <a href="https://www.youtube.com/channel/UCg88UiqbObTkUkS3KZnzsow/featured">Vineel Annabathula's YouTube Channel</a>.</p>
</div>

<html>
<body>
<!-- Single statement block -->
@{ var myMessage = "Hello World"; }
<div class="text-center">
    <h1 class="display-2">Azure DevOps</h1>
    <p>The Quickest Way To Learn DevOps Process</p>
</div>
<!-- Inline expression or variable -->
<p>The value of myMessage is: @myMessage</p>

<!-- Multi-statement block -->
@{
var greeting = "Welcome to Azure DevOps Training Application!";
var weekDay = DateTime.Now.DayOfWeek;
var greetingMessage = greeting + " Here in the training application for July 2020 Batch: " + weekDay;
}

<p>Hello Guys: @greetingMessage</p>
</body>
</html>
